body{
    overflow-x: hidden;
    overflow-y: auto;
}

.headerN{
    background: linear-gradient(#00000080,#00000080), url('assets/poster-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}